<div>

    <div class="alert alert-info">@Title</div>

    <div class="alert alert-danger">
        @if (SecondChildContent != null)
        {
            <span>@SecondChildContent</span>

        }
        else
        {
            @if (ChildContent != null)
            {
                <span> @ChildContent </span>

            }
            else
            {
                <span> No content passed from the parent</span>
            }
        }
       

    </div>

    <button class="btn btn-danger" @onclick="OnClickButton">Click here </button>

    <_GrandChild > </_GrandChild>

</div>

@code {

    [Parameter]
    public string Title { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public RenderFragment SecondChildContent { get; set; }


    [Parameter]
    public EventCallback OnClickButton { get; set; }

}
