
<div class="row">
    <h4 class="text-primary pt-2 col-12"> Grand Child Component</h4>
    <p> @MessageForGrandChild </p>
    <p> Grand child Age : @Age</p>
</div>


@code {
    [CascadingParameter(Name = "Message")]
    public string MessageForGrandChild { get; set;}


    [CascadingParameter(Name = "Age")]
    public string Age { get; set; }
}
